@page
@model ResultsModel
@{
    ViewData["Title"] = "Final Details page";
}
@{
    Layout = null;
}

<html>
    <head>
        <title>Table Tennis England Rankings Calculator</title>
        <link rel="stylesheet" href="/css/results.css" /> 

    </head>
    <body>
        <div class="container">
            <header>
                <h1>Table Tennis Ranking Calculator</h1>
            </header>
            <hr />
            <div class="content">
                <h2>The Results</h2>
                <p><i>Drumroll please...</i></p>
                <hr class="sep">
                <div class="half-card content" id="p1Area">
                    <h3 class="player">@Model.p1Name</h3>
                    <p class="info">Original Points: @Model.p1Points</p>
                    <p class="info" id="result1"></p>
                    <p class="info">Weight: @Model.weight</p>
                    <h3 class="newPoints" id="new1">Click to reveal</h3>
                </div>
                <div class="half-card content" id="p2Area">
                    <h3 class="player">@Model.p2Name</h3>
                    <p class="info">Original Points: @Model.p2Points</p>
                    <p class="info" id="result2"></p>
                    <p class="info">Weight: @Model.weight</p>
                    <h3 class="newPoints" id="new2">Click to reveal</h3>
                </div>
                <script>
                    const p1 = document.getElementById("result1");
                    const p2 = document.getElementById("result2");
                    if ("@Model.p1Win".toLowerCase() === "false") {
                        p1.textContent = "Result: Loss";
                        p2.textContent = "Result: Victory";
                    }
                    else {
                        p2.textContent = "Result: Loss";
                        p1.textContent = "Result: Victory";
                    }

                    const p1p = document.getElementById("new1");
                    const p2p = document.getElementById("new2");
                    const p1Final = Number(@Model.newP1);
                    const p2Final = Number(@Model.newP2);
                    let p1Current = 0;
                    let p2Current = 0;
                    const step1 = Math.ceil(p1Final / 60);
                    const step2 = Math.ceil(p2Final / 60);
                    const p1Click = document.getElementById("p1Area");
                    const p2Click = document.getElementById("p2Area");
                    
                    p1Click.addEventListener("click", () => {
                        const intervalp1 = setInterval(() =>  {
                        p1Current += step1;
                        if (p1Current >= p1Final) {
                            p1Current = p1Final;
                            clearInterval(intervalp1);
                        }
                        p1p.textContent = p1Current;
                    }, 25);

                        p1Click.removeEventListener("click");
                    });
                    
                    p2Click.addEventListener("click", () => {
                        const intervalp2 = setInterval(() =>  {
                        p2Current += step2;
                        

                        if (p2Current >= p2Final) {
                            p2Current = p2Final;
                            clearInterval(intervalp2);
                        }
                        p2p.textContent = p2Current;
                    }, 25);
                    });
                    

                </script>
            </div>
        </div>
    </body>
</html>